body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #2854cc;
    display: flex;
    justify-content: center;
}

nav a {
    color: #212c97;
    text-decoration: none;
    padding: 15px 25px;
}

nav a:hover {
    background-color: #212c97
}

h1 {
    color: #212c97
}
/* Bakgrundsbild på Hem */
.hem {
    color: rgb(114, 138, 245);
    background-image: url("bilder/hem.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}  



/* Bakgrundsbild på Matte */
.matte {
    color:rgb(114, 138, 245);
    background-image: url("bilder/matte.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}


/* Bakgrundsbild på Svenska */
.svenska {
    color:rgb(114, 138,  245);
    background-image: url("bilder/svenska.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

/* Bakgrundsbild på Andra ämnen */
.andra {
    color:rgb(114, 138,  245);
    background-image: url("bilder/andra.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}